.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent #106861de;
  backdrop-filter: blur(10px);
  /* background-color: #106861de; Transparent background */
  position: absolute; /* Position the navbar absolutely */
  width: calc(100% - 4rem); /* Full width */
  top: 0;
  left: 0rem;


}

.navbar-brand a {
  color: #106861de;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute; /* Position the links absolutely */
  left: 50%; /* Move to the center */
  transform: translateX(-50%); /* Adjust for exact centering */
}

.navbar-links li {
  margin-left: 1rem;
}

.navbar-links a {
  color: #106861de;
  text-decoration: none;
  font-size: 1rem;
  
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-login {
  margin-left: auto; /* Push the login button to the right */
}

.navbar-login a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid white; /* Optional: Add a border for the login button */
  border-radius: 5px; /* Optional: Add rounded corners */
}

.navbar-login a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Optional: Add hover effect */
}
