
.details-table {


.add-security-container {
    display: flex;
  }
  
  .add-security-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
}





header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-icon {
  font-size: 24px;
  margin-right: 5px;
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Table styles */
table {

.details-table {


  width: 100%;
  border-collapse: collapse;
}

}

.details-table th, .details-table td {

}


table th, table td {

.details-table th, .details-table td {


  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}


}


/* Edit and remove button styles */
.edit {


.details-table thead {
  background-color: #f4f4f4;
}

.details-table th {
  background-color: #e0e0e0;
}

.edit, .remove {



  background-color: #3498db;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.edit:hover {
  background-color: #2980b9;
}

.remove {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;


}

.remove:hover {
  background-color: #c0392b;
}



}


/* Print report button styles */
.print-report {
  margin-top: 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.print-report:hover {
  background-color: #27ae60;
}

#security-details-table {
}

#notice-id-header, #title-header, #date-header, #time-header, #status-header, #description-header, #actions-header {
  font-weight: bold;
}

#notice-id, #title, #date, #time, #status, #description, #actions {
  text-align: left;
} 




/* Update and Remove button styles */
.update-link {
  background-color: #3498db; /* Blue color */
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-right: 5px;
}

.update-link:hover {
  background-color: #2980b9; /* Darker blue when hovered */
}

.delete-button1 {
  background-color: #e74c3c; /* Red color */
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.delete-button1:hover {
  background-color: #c0392b; /* Darker red when hovered */
}
